@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: black !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}


body {
    background-color: #121212; /* Midnight Dark Background Color */
    color: #ffffff; /* Text Color */
}

.sidebar {
    padding: 1rem;
    background-color: #212121; /* Sidebar Background Color */
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.view-count {
    text-align: bottom-left;
    color: black;
}